version: '3'

services: 

  kong-database:
    image: postgres
    # container_name: kong-database
    ports: 
      - 5432:5432
    environment: 
      - POSTGRES_USER=kong
      - POSTGRES_DB=kong
      - POSTGRES_PASSWORD=kong
    networks:
      - kong-net
    volumes:
      - "db-data-kong-postgres:/var/lib/postgres/data"
        
  kong-migrations:
    image: kong
    environment: 
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=kong-database
      - KONG_PG_PASSWORD=kong
      - POSTGRES_PASSWORD=kong
      - KONG_CASSANDRA_CONTACT_POINT=kong-database
    command: kong migrations bootstrap
    restart: on-failure
    networks:
      - kong-net
    depends_on:
      - kong-database

  kong:
    image: kong
    # container_name: kong-database
    environment:
      - LC_CTYPE=en_US.UTF8
      - LC_ALL=en_US.UTF8
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=kong-database
      - KONG_PG_PASSWORD=kong
      - KONG_PROXY_ACCESS_LOG=/dev/stdout
      - KONG_ADMIN_ACCESS_LOG=/dev/stdout
      - KONG_PROXY_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_LISTEN=0.0.0.0:8001, 0.0.0.0:8444 ssl
    restart: on-failure
    ports: 
      - 8080:8080
      - 8443:8443
      - 8001:8001
      - 8444:8444
    networks:
      - kong-net
    depends_on:
      - kong-migrations
        
  konga:
    image: pantsel/konga
    ports: 
      - 8008:1337
    # container_name: kong-database
    environment: 
      - NODE_ENV=production
    networks:
      - kong-net
    
volumes:
  db-data-kong-postgres:

networks:
  kong-net:
    external: false